<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="wzh"/>
        <property name="password" value="123456"/>
        <property name="maxActive">
            <value>255</value>
        </property>
        <property name="maxIdle">
            <value>2</value>
        </property>
        <property name="maxWait">
            <value>120000</value>
        </property>
    </bean>

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</prop>
                <prop key="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.wzh.demo.entity.UserEntity</value>
                <value>com.wzh.demo.entity.WalletEntity</value>
                <value>com.wzh.demo.entity.TransferInfoEntity</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.wzh.demo.dao.UserDaoImpl" id="userDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.wzh.demo.dao.WalletDaoImpl" id="walletDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.wzh.demo.service.UserServiceImpl" id="userService" >
        <property name="userDao" ref="userDao"/>
        <property name="walletDao" ref="walletDao"/>
    </bean>

    <bean class="com.wzh.demo.dao.TransferDaoImpl" id="transferDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.wzh.demo.service.TransferServiceImpl" id="transferService">
        <property name="transferDao" ref="transferDao"/>
    </bean>

</beans>